/vendor
.idea
LunchesAPI.paw
composer.phar
shared
public/.htaccess
config/local.php
config/qa.php
config/prod.php

/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!/var/sessions
/var/sessions/*
/vendor/
/web/bundles/
.idea
