<?php

return [
    'debug' => true,
    'cloudinary.cloudName' => '',
    'cloudinary.apiKey' => '',
    'cloudinary.apiSecret' => '',
    'accessToken' => '',
    'db.options' => [
        'host' => '127.0.0.1',
        'driver'   => 'pdo_mysql',
        'user'   => '',
        'password' => '',
        'dbname'   => '',
        'driverOptions' => [ 1002=>'SET NAMES utf8' ]
    ]
];
